[terminal_alpha]
path = C:\\Program Files\\AlphaBroker MT5\\terminal64.exe

[terminal_beta]
path = C:\\Program Files\\BetaBroker MT5\\terminal64.exe

[account_alpha_demo]
login = 11111111
password = AlphaPassword
server = AlphaBroker-Demo

[account_beta_demo]
login = 22222222
password = BetaPassword
server = BetaBroker-Demo
